In [5]:
import pandas as pd
from redblackgraph.reference.avos import avos_sum, avos_product
labels = [-1,0,1,2,3,4,5,6,7,8,9]

# Avos Vector Spaces

I'll expolre a novel extension of linear algebra that results in a vector space designated an Avos vector space. I'll outline the mathematical basis for this vector space as well as an interesting application in modeling the relationships that emerge from sexual reproduction.

## Vector Spaces
Recall that the following axioms must be satisfied for any abstract vector space

1. Associativity of Vector Addition: $\vec{u} + (\vec{v} + \vec{w}) = (\vec{u} + \vec{v}) + \vec{w}$
2. Commutativity of Vector Addition: $\vec{u} + \vec{v} = \vec{v} + \vec{u}$
3. Identity element of Vector Addition: There exists an element $\vec{0} \in V$ such that $\vec{v} + \vec{0} = \vec{v}$ for all ${\vec{v} \in V}$
4. Inverse elements of addition: For every ${\vec{v} \in V}$, there exists an element $-{\vec{v} \in V}$ such that ${\vec{v} + (-\vec{v}) = \vec{0}}$
5. Compatibility of scalar multiplication with field multiplication: $a(b\vec{v}) = (ab)\vec{v}$
6. Identity element of scalar multiplication: $1\vec{v} = \vec{v}$
7. Distributivity of scalar multiplication with respect to vector addition: $a(\vec{u} + \vec{v}) = a\vec{u} + a\vec{v}$
8. Distributivity of scalar multiplication with respect to field addition: $(a + b)\vec{v} = a\vec{v} + b\vec{v}$

The **Avos Vector Space** is a vector space over integers and is a novel extension of linear algebra that redefines the addition and multiplication operators. 

### Scalar Addition
Conceptually, scalar addition in an Avos vector space is a *non-zero minimum* operator. Formally, scalar addition is defined as:
$$a + b = \begin{cases}
        b, & \text{if }a==0,\\
        a, & \text{if }b==0,\\
        0, & \text{if }a==-b,\\
        min(a, b), & \text{otherwise}
\end{cases}$$

In [9]:
pd.DataFrame(data=( [ [avos_sum(i, j) for j in range(-1, 10)] for i in range(-1, 10)] ), index=labels, columns=labels)

    -1   0   1   2   3   4   5   6   7   8   9
-1  -1  -1   0  -1  -1  -1  -1  -1  -1  -1  -1
 0  -1   0   1   2   3   4   5   6   7   8   9
 1   0   1   1   1   1   1   1   1   1   1   1
 2  -1   2   1   2   2   2   2   2   2   2   2
 3  -1   3   1   2   3   3   3   3   3   3   3
 4  -1   4   1   2   3   4   4   4   4   4   4
 5  -1   5   1   2   3   4   5   5   5   5   5
 6  -1   6   1   2   3   4   5   6   6   6   6
 7  -1   7   1   2   3   4   5   6   7   7   7
 8  -1   8   1   2   3   4   5   6   7   8   8
 9  -1   9   1   2   3   4   5   6   7   8   9

## Scalar Multiplication
For positive integers, the result of scalar multiplication is given by representing operating on the binary representation of each operand. The result is achieved by replacing the leftmost significant bit of the RHS operand with the value of the LHS operand (assuming infinate padding of zeros on the left overflow conditions are left as an engineering exercise). This will be referred to as the **avos scalar product** and symbolically represented by $\lor$, e.g. $5 \lor 2 = 10$. Note that while the avos scalar product is associative, it is not commutative.

$$a \lor b = \begin{cases}
        a \lor b, & \text{if }a>1\text{ and }b>1,\\
        -(a \lor b), & \text{if }a<-1\text{ and }b<-1,\\
        0, & \text{if }a=0\text{ or }b=0,\\
        min(a, b), & \text{otherwise}
\end{cases}$$

For negative integers, the avos scalar product is defined as: $$-a \lor -b = -(a \lor b)$$

A definition of mixed sign operands will be deferred.

In [8]:
pd.DataFrame(data=( [ [avos_product(i, j) for j in range(-1, 10)] for i in range(-1, 10)] ), index=labels, columns=labels)

    -1   0   1   2   3   4   5   6   7   8   9
-1  -1   0  -1   2   3   4   5   6   7   8   9
 0   0   0   0   0   0   0   0   0   0   0   0
 1  -1   0   1   2   3   4   5   6   7   8   9
 2   2   0   2   4   5   8   9  10  11  16  17
 3   3   0   3   6   7  12  13  14  15  24  25
 4   4   0   4   8   9  16  17  18  19  32  33
 5   5   0   5  10  11  20  21  22  23  40  41
 6   6   0   6  12  13  24  25  26  27  48  49
 7   7   0   7  14  15  28  29  30  31  56  57
 8   8   0   8  16  17  32  33  34  35  64  65
 9   9   0   9  18  19  36  37  38  39  72  73

## Vector Addition
Before formally defining vector addition, consider the example motivating this. Each vector (assuming a row vector here) represents a person and their complete ancestry. As such it is easy to imagine that vector addition represents one of two cases:
1. The resulting ancestry for the offspring of $\vec{\alpha}$ and $\vec{\beta}$
2. The resulting ancestry of adding $\vec{\beta}$ as an immediate ancester (or distant ancester for that matter) of $\vec{\alpha}$

Furthermore, recall that each vector will either be *red* (has one and only one element with value of $-1$) or *black* (has one and only one element with value of $1$). I designate this the "self element" and use $v_s$ to notationally represent the self element for a given vector $\vec{v}$. Finally, $u_{s_v}$, represents the element in $\vec{u}$ that is the "self element" in $\vec{v}$.

### Vector Addition for Impossible Cases
There are cases that represent a temporal (I can't be my own Grandpa) or biological (offspring requires one parent of each gender) impossiblity. These cases are defined to result in $\vec{0}$.

### Vector Cross Product $\implies$ Offspring
The cross product of two vectors results in a new vector (with an additional dimension, orthoganal to the basis vectors of the operands). With the constraints of $\alpha_{s_\beta} == 0 \land \beta_{s_\alpha} == 0 \land \alpha_s \neq \beta_s$, the Avos cross product is defined as: $$\vec{\alpha} \times \vec{\beta} = 2\vec{\alpha} + 3\vec{\beta}$$ with the orthoganal new dimension being $1$ if offspring is female and $-1$ if male.

### Vector Addition $\implies$ Add Relationship
This form of addition imposses the constraint: $\alpha_{s_\beta} == 0 \land \beta_{s_\alpha} == 0$. Arbitrarily selecting $\vec{\alpha}$ as the source of the relationship and $\vec{\beta}$ as the target of the relationship.

$$\vec{\alpha} + \vec{\beta} = \begin{cases}
        \vec{\alpha} + 2\vec{\beta}, & \text{if }\vec{\beta}\text{ is red},\\
        \vec{\alpha} + 3\vec{\beta}, & \text{if }\vec{\beta}\text{ is black}
\end{cases}$$

where $+$ on the left hand side is vector addition and $+$ on the right hand side is element-wise scalar addtion.

# Notes from Gilbert Strang's Lectures

## Rank and Solutions
* $rank = m = n \implies rref(R) = I \implies$ 1 solution.
* $rank = n < m \implies rref(R) = \begin{bmatrix}I \\ 0\end{bmatrix} \implies$ 0 or 1 solution.
* $rank = m < n \implies rref(R) = \begin{bmatrix}I & F\end{bmatrix} \implies \infty$ solutions.
* $rank < m \land rank < n \implies rref(R) = \begin{bmatrix}I & F \\ 0 & 0\end{bmatrix} \implies$ 0 or $\infty$ solutions.

## Linear independance
Vectors are linear independant if no combination gives the $\vec{0}$ except the zero combination. Or,... if the vectors are the columns of a matrix $A$, they are independant if the nullspace of $A$ is only the $\vec{0}$.